# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: pip
    directory: "/"
    schedule:
      interval: "daily"
    groups:
      python-packages:
        patterns:
          - "*"
    ignore:
      - dependency-name: "pytket-pecos"
        versions: [">=0.3.0"]
      - dependency-name: "quantum-pecos"
        versions: [">=0.8.0.dev0"]
