.eggs
*.egg-info
build
dist
*.pyc
.vscode
.venv
.mypy_cache
.hypothesis
obj
docs/extensions
.ipynb_checkpoints
.DS_Store
node_modules
uv.lock
docs/pyproject.toml
docs/poetry.lock
docs/uv.lock
docs/conf.py
docs/_static
