name: Build and test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
      - 'wheel/**'
      - 'runci/**'
  release:
    types:
      - created
      - edited
  schedule:
    # 04:00 every Tuesday morning
    - cron: '0 4 * * 2'
  workflow_dispatch:

jobs:
  quantinuum-checks:
    name: Quantinuum - Build and test module
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        pyver: ['3.10', '3.12']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: '0'
        submodules: recursive
    - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* +refs/heads/*:refs/remotes/origin/*
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.pyver }}
    - name: Build and test
      shell: bash
      run: |
        ./.github/workflows/build-test mypy
    - uses: actions/upload-artifact@v6
      if: (github.event_name == 'release' || contains(github.ref, 'refs/heads/wheel')) && (matrix.pyver == '3.10' )
      with:
        name: artefact-${{ matrix.os }}
        path: wheelhouse/
    - name: Install poetry
      run: pip install poetry
    - name: Install docs dependencies
      if:  (matrix.os == 'ubuntu-latest') && (github.event_name == 'pull_request' || github.event_name == 'schedule' )
      run: |
          cd docs && bash ./install.sh
          poetry run pip install '../.[pecos]'
    - name: Build docs
      if:  (matrix.os == 'ubuntu-latest') && (matrix.pyver == '3.12') && (github.event_name == 'pull_request' || github.event_name == 'schedule' )
      timeout-minutes: 20
      run: |
          cd docs && poetry run bash ./build-docs.sh

  publish_to_pypi:
    name: Publish to pypi
    if: github.event_name == 'release'
    needs: quantinuum-checks
    runs-on: ubuntu-latest
    steps:
    - name: Download all wheels
      # downloading all three files into the wheelhouse
      # all files are identical, so there will only be one file
      uses: actions/download-artifact@v5
      with:
        path: wheelhouse
        pattern: artefact-*
        merge-multiple: true
    - name: Put them all in the dist folder
      run: |
        mkdir dist
        for w in `find wheelhouse/ -type f -name "*.whl"` ; do cp $w dist/ ; done
    - name: Publish wheels
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_PYTKET_QUANTINUUM_API_TOKEN }}
        verbose: true
